<div class="container mt-5 mb-5">
    <h4>Faça seu login para acessar</h4>
    <form>
        <div class="form-group pb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Insira seu email">
        </div>
        <div class="form-group pb-3">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" placeholder="Senha">
        </div>
        <div class="d-grid gap-3 d-md-flex">
            <button type="button" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-secondary" (click)="goToSignup()">Cadastrar</button>
        </div>
    </form>
</div>